In [2]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.8.30)
Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.6)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [3]:
import requests
from bs4 import BeautifulSoup

# NB: requests help us download a web page while beautiful soup helps with web scraping

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [5]:
#creating beautiful soup objects

soup = BeautifulSoup(html, 'html5lib')
print (soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [6]:
tag_object = soup.h3
print ('tag object:', tag_object)

tag object: <h3><b id="boldest">Lebron James</b></h3>

In [7]:
#

tag_child = tag_object.b
print (tag_child)

<b id="boldest">Lebron James</b>

In [8]:
#

parent_tag = tag_child.parent
parent_tag

# in this case it equals back to tag_object

In [9]:
#
tag_object.parent

In [10]:
up_tag = tag_object.parent
up_tag.parent

<html><head><title>Page Title</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>

In [11]:
#Sibling tag
sibling_1 = tag_object.next_sibling
sibling_1

In [12]:
sibling_2 = sibling_1.next_sibling
print (sibling_2)

<h3> Stephen Curry</h3>

In [13]:
sibling_3 = sibling_2.next_sibling
sibling_3

In [16]:
# HTML attrributes

tag_child['id']

'boldest'

In [17]:
tag_child.attrs

{'id': 'boldest'}

In [19]:
#
tag_child.get('id'
)

'boldest'

In [20]:
#Navigable Strings

tag_string = tag_child.string
tag_string

'Lebron James'

In [21]:
tag_string2 = sibling_1.string
tag_string2

' Salary: $ 92,000,000 '

In [22]:
#Unicode string??

unicode_string = str (tag_string)
unicode_string

'Lebron James'

In [23]:
#Filters


%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
   </tr>
  <tr>
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [24]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [25]:
table_bs = BeautifulSoup(table, 'html5lib')

In [26]:
  table_bs

<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr></tbody></table></body></html>

In [27]:
table_row = table_bs.find_all('tr')
table_row

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [28]:
first_row = table_row[0]
first_row

In [29]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [30]:
#Obtaining the child of first_row
first_row.td

In [31]:
#Getting all rows within the find_all(tr) just extracted from the HTML
for i, row in enumerate (table_row):
  print ('row', i, 'is', row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

In [43]:
#Since the rows are also parents containing 'td', cell objects, we can get cell objects using iterables

for i, row in enumerate (table_row):
  print ('\n', 'the', i, 'row: ', row)
  cell_object  = row.find_all('td')
  for j, cell in enumerate (cell_object):
    print ('the column', j, 'contains:', cell)

 the 0 row:  <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
the column 0 contains: <td id="flight">Flight No</td>
the column 1 contains: <td>Launch site</td>
the column 2 contains: <td>Payload mass</td>

 the 1 row:  <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
the column 0 contains: <td>1</td>
the column 1 contains: <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
the column 2 contains: <td>300 kg</td>

 the 2 row:  <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
the column 0 contains: <td>2</td>
the column 1 contains: <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
the column 2 contains: <td>94 kg</td>

 the 3 row:  <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>
the column 0 contains: <td>3</td>
the column 1 contains: <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
the column 2 contains: <td>80 kg</td>

In [44]:
#Another method of using the name filter to generate a list and find elements side by sude

list_input = table_bs.find_all(name = ['tr', 'td'])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

In [45]:
#Attributes

table_bs.find_all(id = 'flight')

In [48]:
#Find all element linked to a particular input e.g florida

list_input2  = table_bs.find_all(href ="https://en.wikipedia.org/wiki/Florida")
list_input2

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [54]:
# finding or filtering by html tag attributes such as 'href', only applicable to the beautiful soup parser (main one created, here is table_bs) and not to variable/result sets like table_row or list_input

table_bs.find_all (href =  True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [57]:
#String

table_bs.find_all(string = 'Florida')

['Florida', 'Florida']

In [58]:
#Using FIND, to find the 'first' occurence only, (whereas find_all finds all occurences)

In [59]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>


<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td>
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [60]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [64]:
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')
#Finding the first table

two_tables_bs.find('table')

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [69]:
#Find with name and attrs, notice the '_' between class and =

two_tables_bs.find('table', class_= 'pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [80]:
# DOWNLOADING AND SCRAPING DATA
# DOWNLOADING AND SCRAPING DATA
# DOWNLOADING AND SCRAPING DATA
# DOWNLOADING AND SCRAPING DATA
# DOWNLOADING AND SCRAPING DATA
import requests
from bs4 import BeautifulSoup

url = 'https://www.ibm.com' # assign URL to a variable
data = requests.get(url).text     # Use the GET method to request data /information from server (include the .text or whatever extension)
soup = BeautifulSoup(data, 'html5lib')  # Create a beautiful soup object either using html.parser or html5lib, careful of the case

#Scraping all Links

for link in soup.find_all('a', href = True):
  print (link.get('href'))

https://www.ibm.com/hybrid-cloud?lnk=hpUSbt1
https://www.ibm.com/consulting

In [81]:
#Scrape all Image
from IPython.display import Image, display

for image in soup.find_all('img'):
  print (image)
  print (image.get('src'))

In [88]:
#SCRAPE TABLES

#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

data2 = requests.get(url)
soup2 = BeautifulSoup(data2.text, 'html5lib')

table2 =  soup2.find('table')
#Get all rows from the table
for row in table2.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF